@font-face {
    font-family: Vermin;
    src: url('fonts/VerminVibes.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Againts;
    src: url('fonts/againts.otf');
    font-weight: normal;
    font-style: normal;
}



* {
    margin: 0;
    padding: 0;
}

.bg_controle {
    position: absolute;
    box-sizing: border-box;
    transform: translateX(-50%);
    left: 50%;
    background: #E5E5E5;
    width: 532px;
    height: 260px;
    background-color: rgba(255,255,255,1);
    overflow: hidden;
    margin: 0;
    padding: 0;
  
}
.Container_Class {
    position: absolute;
    width: 532px;
    height: 260px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
.bg_bordaControle {
    position: absolute;
    overflow: visible;
    width: 532px;
    height: 260px;
    left: 0px;
    top: 0px;
}
.bg_meioControle {
    position: absolute;
    overflow: visible;
    width: 500px;
    height: 230px;
    left: 16px;
    top: 20px;
}
.bg_btConexao {
    position: absolute;
    overflow: visible;
    width: 150px;
    height: 50px;
    left: 191px;
    top: 173px;
}
.bg_btDirecionais {
    overflow: visible;
    position: absolute;
    top: 78px;
    left: 37px;
    width: 120px;
    height: 120px;
    transform: matrix(1,0,0,1,0,0);
}
.bt_conect {
    position: absolute;
    overflow: visible;
    width: 40px;
    height: 20px;
    left: 211px;
    top: 188px;
}
.bt_desconect {
    position: absolute;
    overflow: visible;
    width: 40px;
    height: 20px;
    left: 281px;
    top: 188px;
}
.bg_btA {
    position: absolute;
    overflow: visible;
    width: 50px;
    height: 50px;
    left: 374px;
    top: 163px;
}
.bg_btB {
    position: absolute;
    overflow: visible;
    width: 50px;
    height: 50px;
    left: 444px;
    top: 163px;
}
.bt_A{
    overflow: visible;
    position: absolute;
    top: 168px;
    left: 379px;
    width: 40px;
    height: 40px;
    transform: matrix(1,0,0,1,0,0);
}
.bt_B{
    position: absolute;
    overflow: visible;
    width: 40px;
    height: 40px;
    left: 449px;
    top: 168px;
}
.Elipse_3_Class {
    filter: blur(9px);
}
.bt_analogico {
    position: absolute;
    overflow: visible;
    width: 94px;
    height: 94px;
    left: 77px;
    top: 118px;
}
.bg_estilo1 {
    position: absolute;
    overflow: visible;
    width: 150px;
    height: 21px;
    left: 191px;
    top: 20px;
}
.bg_estilo2 {
    position: absolute;
    overflow: visible;
    width: 150px;
    height: 20px;
    left: 191px;
    top: 51px;
}
.bg_estilo3 {
    position: absolute;
    overflow: visible;
    width: 150px;
    height: 20px;
    left: 191px;
    top: 81px;
}
.bg_estilo4 {
    position: absolute;
    overflow: visible;
    width: 150px;
    height: 20px;
    left: 191px;
    top: 147px;
}
.tx_conect {
    position: absolute;
    left: 208px;
    top: 146px;
    overflow: visible;
    width: 47px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(255,255,255,1);
}
.tx_desconect {
    position: absolute;
    left: 267px;
    top: 146px;
    overflow: visible;
    width: 70px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(255,255,255,1);
}
.bt_direcionalCima {
    overflow: visible;
    position: absolute;
    top: 81px;
    left: 82px;
    width: 30px;
    height: 34px;
    transform: matrix(1,0,0,1,0,0);
}
.bt_direcionalEsquerda {
    overflow: visible;
    position: absolute;
    top: 123px;
    left: 40px;
    width: 34px;
    height: 30px;
    transform: rotate(270deg);
}
.bt_direcionalDireita {
    overflow: visible;
    position: absolute;
    top: 123px;
    left: 120px;
    width: 34px;
    height: 30px;
    transform: rotate(90deg);
}
.bt_direcionalBaixo {
    overflow: visible;
    position: absolute;
    top: 161px;
    left: 82px;
    width: 30px;
    height: 34px;
    transform: rotate(180deg);
}
.tx_mhs {
    position: absolute;
    left: 240px;
    top: 98px;
    overflow: visible;
    width: 65px;
    white-space: nowrap;
    text-align: left;
    font-family: Vermin Vibes;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(19,144,228,1);
}

.tx_mhs span{

}

.bg_estilo5 {
    position: absolute;
    overflow: visible;
    width: 150px;
    height: 21px;
    left: 191px;
    top: 229px;
}
.tx_a {
    position: absolute;
    left: 391px;
    top: 129px;
    overflow: visible;
    width: 17px;
    white-space: nowrap;
    text-align: left;
    font-family: Againts;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: rgba(207,27,27,1);
}
.tx_b {
    position: absolute;
    left: 464px;
    top: 129px;
    overflow: visible;
    width: 15px;
    white-space: nowrap;
    text-align: left;
    font-family: Againts;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: rgba(207,27,27,1);
}